pkgbase = akebi
	pkgdesc = Simple Bash Script to Show System Information
	pkgver = 1.1
	pkgrel = 1
	url = https://github.com/herobuxx/akebi
	arch = any
	license = MIT
	source = akebi::https://raw.githubusercontent.com/herobuxx/akebi/main/akebi
	sha256sums = 7af54517090202be16b21441ccfb153f141879d847d5d3d4975487a18b3593d7
	
pkgname = akebi